@font-face{
    font-family: a1;
    src: url(/public/assets/images/Roboto-Regular.ttf);
}

@font-face{
    font-family: a2;
    src: url(/public/assets/images/Roboto-Bold.ttf);
}

@font-face{
    font-family: a3;
    src: url(/public/assets/images/Roboto-Light.ttf);
}